@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;600&display=swap');
@import "variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;    //background: rgba(95, 158, 160, 0.288);
}

.containerBase{
    width: 100%;
    max-width:1440px;
    height:100vh;
    margin: auto;
    overflow: hidden;
    //background: #0c2ac0;
    //padding: 10px 0px;
    .container{
        width: 100%;
        height:100%;
        background-image: url(../images/home/background-home-desktop.jpg);
        background-size: 100% 100%;
        //background-attachment: fixed;
        //background: red;
        padding: 10px 0px;
        .bloqueNav{
            position: absolute;
            width: 100%;
            padding: 5px 0px;
            //left: 55px;
            top: 25px;
            left: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: rgba(0, 0, 0, 0.178);
            .logo{
                width: 40px;
                height: 40px;
                margin-left: 40px;
                //background: yellow;
            }
            .barra{
                width: 400px;
                height: 1px;
                opacity: 0.5;
                border:none;
                background: rgba(255, 255, 255, 0.301);
            }
            .navEnlaces{
                width: 600px;
                height: 50px;
                //background: yellowgreen;
                margin-right: 20px;
                .btnCierre{
                    width: 40px;
                    height: 40px;
                    //background: goldenrod;
                    position: absolute;
                    right: 10px;
                    display: none;
                    .fa-xmark{
                        font-size: 40px;
                    }
                }
                .barra_ul{
                    list-style:none ;
                    margin-top: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    
                    .barra_li{
                        //background: brown;
                        width: 100px;
                        text-align: center;
                        color: white;
                        padding-bottom: 10px;
                        //box-shadow: 0px 2px 0px white;
                        
                        a{
                            text-decoration: none;
                            color: $color_letras2;
                            //background: red;
                            //box-shadow: 0px 2px 0px white;
                            
                        }
                    } 
                }
            }

            .btnResponsive{
                width: 50px;
                height: 50px;
                background: firebrick;
                display: none;
            }
        }
    

        .cont_ambos_elements{
            margin-top: 100px;
            width: 100%;
            padding: 10px 0px;
            //background-color: aqua;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .cont_elementos{
                width: 450px;
                padding: 5px;
                //background: rgba(52, 80, 52, 0.342); 
            
    
                .subtitle{
                    width: 100%;
                    padding: 5px 0px;
                    left: 0.11%;
                    right: 15.67%;
                    top: calc(50% - 34px/2 - 174px);
                    //background: red;
                    font-family: Barlow Condensed;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 34px;
                    /* identical to box height */
                    letter-spacing: 4.7px;
                    color: #D0D6F9;
                }
            
                .title{
                    width: 100%;
                    
                    padding: 5px 0px;
                    font-family: Bellefair;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 138px;
                    
                    //line-height: 172px;
                    /* identical to box height */
                    
                    
                    color: #FFFFFF;
                    
                }
            
                .parrafo{
                    width: 100%;
                  
                    padding:5px 0px;
                    font-family: Barlow;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    color: #D0D6F9;
                }
            }
    
            .cont_circulo{
                margin-top: 25px;
                width: 250px;
                height: 250px;
                border-radius: 100%;
                background: whitesmoke;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.5s all;
                .explore{
                    font-family: Bellefair;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 32px;
                    line-height: 37px;
                    letter-spacing: 2px;
                    color: #0B0D17;
                }
            }
            .cont_circulo:hover{
                border: 0px dashed white;
                box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0.103);
            }
        }
        
        
    }
}



@media (min-width:641px) and (max-width:769px){
    .containerBase{
        //padding: 10px 0px;
        height: 900px;
        background:forestgreen;
       .container{
          width: 100%;
          height: 100%;
          background-image: url(../images/home/background-home-tablet.jpg);
          background-size: 100% 100%;
          .bloqueNav{
              //background: gray;
              .logo{
                  width: 40px;
                  height: 40px;
                  //background: gold;
                  margin-left: 20px;
              }
              .barra{
                  width:130px;

              }.navEnlaces{
                  width: 400px;
                  //background-color: aqua;
                  .btnCierre{
                    width: 40px;
                    height: 40px;
                    //background: goldenrod;
                    position: absolute;
                    right: 10px;
                    display: none;
                }
              }
              .btnResponsive{
                width: 50px;
                height: 50px;
                background: firebrick;
                display: none;
            }
          }
          

          .cont_ambos_elements{
            margin-top: 120px;
            //background: red;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            .cont_elementos{
                /*width: 450px;
                padding: 5px;*/
                //background: rgba(52, 80, 52, 0.342); 
            
    
                .subtitle{
                    /*width: 100%;
                    padding: 5px 0px;
                    left: 0.11%;
                    right: 15.67%;
                    top: calc(50% - 34px/2 - 174px);
                   
                    font-family: Barlow Condensed;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 34px;*/
                    /* identical to box height */
                    /*letter-spacing: 4.7px;
                    color: #D0D6F9;*/
                }
            
                .title{
                    /*width: 100%;
                    
                    padding: 5px 0px;
                    font-family: Bellefair;
                    font-style: normal;
                    font-weight: normal;
                     color: #FFFFFF;
                    font-size: 138px;*/
                    //line-height: 172px;
                    /* identical to box height */  
                }
            
                .parrafo{
                    /*width: 100%;
                    padding:5px 0px;
                    font-family: Barlow;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    color: #D0D6F9;*/
                }
            }
    
            .cont_circulo{
                width: 180px;
                height: 180px;
                margin-top: 90px;

                .explore{
                    /*font-family: Bellefair;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 32px;
                    line-height: 37px;
                    letter-spacing: 2px;
                    color: #0B0D17;*/
                }
            }
            
        }


       }
    }
}



@media (min-width:320px) and (max-width:640px){
    .containerBase{
        //padding: 10px 0px;
        height: 700px;
        //background:rgb(22, 185, 214);
        //padding: 10px 0px;
       .container{
          width: 100%;
          height: 100%;
          background-image: url(../images/home/background-home-mobile.jpg);
          background-size: 100% 100%;
          .bloqueNav{
              //background: gray;
              position: relative;
              top: 0;
              .logo{
                  width: 40px;
                  height: 40px;
                  //background: gold;
                  margin-left: 20px;
              }
              .barra{
                  width:130px;
                  display: none;

              }
              .navEnlaces{
                  margin-top: 0px;
                  width:200px;
                  height: 700px;
                  padding:20px 0px;
                  background-color: rgba(36, 36, 36, 0.192);
                  position: absolute;
                  top: 0;
                  right: -100%;
                  backdrop-filter: blur(30px);
                  transition: 0.4s ease-in-out all;
                  .btnCierre{
                    width: 40px;
                    height: 40px;
                    //background: goldenrod;
                    position: absolute;
                    right: 10px;
                    display: block;
                }

                  .barra_ul{
                    width: 100%;
                    height: 300px;
                    //list-style:none ;
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    //background-color:rgba(64, 235, 64, 0.644);
                    .barra_li{
                        //background: rgb(134, 148, 10);
                        width: 100%;
                        text-align: inherit;
                        color: white;
                        padding-bottom: 30px;
                        margin-bottom: 2px;
                        margin-left: 20px;
                        //box-shadow: 0px 2px 0px white;
                        
                        a{
                            text-decoration: none;
                            color: $color_letras2;
                            //background: blue;
                            //box-shadow: 0px 2px 0px white;
                            
                        }
                    } 
                  }

              }
              .navEnlaces_JS{
                  right: -20px;
              } 

              .btnResponsive{
                width: 50px;
                height: 50px;
                background: transparent;
                display: block;
                margin-right: 10px;
                .iconResponsive{
                    font-size: 40px;
                    cursor: pointer;
                }
              }
          }
          

          .cont_ambos_elements{
            margin-top: 50px;
            //background: red;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            .cont_elementos{
                /*width: 450px;
                padding: 5px;*/
                //background: rgba(52, 80, 52, 0.342); 
            
    
                .subtitle{
                    /*width: 100%;
                    padding: 5px 0px;
                    left: 0.11%;
                    right: 15.67%;
                    top: calc(50% - 34px/2 - 174px);
                   
                    font-family: Barlow Condensed;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 34px;*/
                    /* identical to box height */
                    /*letter-spacing: 4.7px;
                    color: #D0D6F9;*/

                    //background: green;
                    font-size: 13px;
                }
            
                .title{
                    /*width: 100%;
                    
                    padding: 5px 0px;
                    font-family: Bellefair;
                    font-style: normal;
                    font-weight: normal;
                     color: #FFFFFF;
                    font-size: 138px;*/
                    //line-height: 172px;
                    /* identical to box height */  

                    //background: #D0D6F9;
                    font-size: 80px;
                }
            
                .parrafo{
                    /*width: 100%;
                    padding:5px 0px;
                    font-family: Barlow;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    color: #D0D6F9;*/
                    font-size:14px ;
                }
            }
    
            .cont_circulo{
                width: 160px;
                height: 160px;
                margin-top: 50px;
                
                .explore{
                    /*font-family: Bellefair;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 32px;
                    line-height: 37px;
                    letter-spacing: 2px;
                    color: #0B0D17;*/
                    font-size: 20px;
                }
            }
            
          }
        }
    }
}








































@media (min-width:770px) and (max-width:1024px){

}

@media (min-width:641px) and (max-width:769px){

}

@media (min-width:481px) and (max-width:640px){

}

@media (min-width:320px) and (max-width:480px){

}


