@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;    //background: rgba(95, 158, 160, 0.288);

}
.containerBaset{
    width: 100%;
    max-width: 1440px;
    height:100vh;
    margin: auto;
    //background: #031677;
    //padding: 10px 0px;
    .containert{
        padding-top: 150px;
        width: 100%;
        height:100%;
        background-image: url(../images/technology/background-technology-desktop.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        .bloqueNavt{
            position: absolute;
            width: 100%;
            padding: 5px 0px;
            //left: 55px;
            top: 25px;
            left: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: rgba(0, 0, 0, 0.178);
            .logot{
                width: 40px;
                height: 40px;
                margin-left: 40px;
                //background: yellow;
            }
            .barrat{
                width: 400px;
                height: 1px;
                opacity: 0.5;
                border:none;
                background: rgba(255, 255, 255, 0.301);
            }
            .bynResponsive{
                //width: 40px;
                //height: 40px;
                //background: fuchsia;
                display: none;
                .fa-bars{
                    font-size: 40px;
                }
            }
            .navEnlacest{
                width: 600px;
                height: 50px;
                //background: yellowgreen;
                margin-right: 20px;
                .btnCierre{
                    position: absolute;
                    right: 20px;
                    display: none;
                    .fa-xmark{
                        font-size: 40px;
                        cursor: pointer;
                    }
                }
                .barra_ult{
                    list-style:none ;
                    margin-top: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    
                    .barra_lit{
                        //background: brown;
                        width: 100px;
                        text-align: center;
                        color: white;
                        padding-bottom: 10px;
                        a{
                            text-decoration: none;
                            color: $color_letras2;
                        }
                    }
                }
            }
            
        }   
        
        .titleF{
            //background: red;
            margin-left: 150px;
            color:$color_letras2;
            font-family: Barlow Condensed;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 33.6px;
            letter-spacing: 4.72px; 
                                 
            .titleF_number3{
                color: $color_letras3;
                line-height: 33.6px;
                letter-spacing: 4.72px;
            }
        }
        
        .baseContains{
            width: 100%;
            padding: 10px 0px;
            //background: greenyellow;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .contLanch{
                width: 550px;
                padding: 10px 0px;
                //background: forestgreen;
                margin-left: 150px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                .contLanch_numbers{
                    width: 100px;
                    //background: yellow;
                    padding: 10px 0px;
                    height: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    .contLanch_numbers_circle{
                       width:55px;
                       height:55px;
                       border: 1px solid white;
                       border-radius: 50%;
                       display: flex;
                       justify-content: center;
                       align-items: center;
                       font-size: 30px;
                       transition: 0.3s ease-in-out all;
                    }
                    .contLanch_numbers_circle:hover{
                        cursor: pointer;
                        background: white;
                        color: black;
                    }
    
                }
                .contLanch_vehicle{
                    width: 400px;
                    height: 250px;
                    padding: 10px 0px;
                    //background: gold;
                    .contLanch_vehicle_titleP{
                        font-family: Barlow Condensed;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 2.7px;
                        color: #D0D6F9;
                    }
                    .contLanch_vehicle_titleB{
                        margin-top:10px;
                        font-family: Bellefair;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 40px;
                        line-height: 64px;
                        color: #FFFFFF;

                    }
                    .contLanch_vehicle_parrafo{
                        margin-top: 10px;
                        font-family: Barlow;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 28px;

                        /* or 178% */


color: #D0D6F9;
                    }
                }
            }
    
            .contLangImage{
                margin-top: -30px;
                width: 450px;
                height: 350px;
                border-radius: 10px;
                overflow: hidden;
                
            }
        }
        

    }
}










@media (min-width:641px) and (max-width:769px){
    .containerBaset{
        /*width: 100%;
        max-width: 1440px;
        height:100vh;
        margin: auto;*/
        //background: #031677;
        //padding: 10px 0px;
        .containert{
            padding-top: 150px;
            width: 100%;
            height:100%;
            background-image: url(../images/technology/background-technology-tablet.jpg);
            background-size: 100% 100%;
            //background: gold;
            .bloqueNavt{
                position: absolute;
                width: 100%;
                padding: 5px 0px;
                //left: 55px;
                top: 25px;
                left: 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: rgba(0, 0, 0, 0.178);
                .logot{
                    width: 40px;
                    height: 40px;
                    margin-left: 20px;
                    //background: yellow;
                }
                .barrat{
                    width: 100px;
                    /*height: 1px;
                    opacity: 0.5;
                    border:none;
                    background: rgba(255, 255, 255, 0.301);*/
                }
                .bynResponsive{
                    //width: 40px;
                    //height: 40px;
                    //background: fuchsia;
                    display: none;
                    .fa-bars{
                        font-size: 40px;
                    }
                }
                .navEnlacest{
                    width: 400px;
                    height: 50px;
                    //background: yellowgreen;
                    margin-right: 20px;
                    .barra_ult{
                        list-style:none ;
                        margin-top: 15px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        
                        .barra_lit{
                            //background: brown;
                            width: 100px;
                            text-align: center;
                            color: white;
                            padding-bottom: 10px;
                            a{
                                text-decoration: none;
                                color: $color_letras2;
                            }
                        }
                    }
                }
                
            }   
            
            .titleF{
                //background: red;
                margin-left: 50px;

                /*color:$color_letras2;
                font-family: Barlow Condensed;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 33.6px;
                letter-spacing: 4.72px; */
                                     
                .titleF_number3{
                    /*color: $color_letras3;
                    line-height: 33.6px;
                    letter-spacing: 4.72px;*/
                }
            }
            
            .baseContains{
                width: 100%;
                padding: 10px 0px;
                //background: greenyellow;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .contLanch{
                    width: 100%;
                    padding: 10px 0px;
                    //background: forestgreen;
                    margin-left:0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    .contLanch_numbers{
                        width: 300px;
                        margin: auto;
                        //background: yellow;
                        padding: 10px 0px;
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        .contLanch_numbers_circle{
                           width:55px;
                           height:55px;
                           border: 1px solid white;
                           border-radius: 50%;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           font-size: 30px;
                           transition: 0.3s ease-in-out all;
                        }
                        .contLanch_numbers_circle:hover{
                            cursor: pointer;
                            background: white;
                            color: black;
                        }
        
                    }
                    .contLanch_vehicle{
                        width: 400px;
                        height: 250px;
                        padding: 10px 0px;
                        //background: gold;
                        text-align: center;
                        margin: 10px auto;
                        .contLanch_vehicle_titleP{
                            font-family: Barlow Condensed;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 19px;
                            letter-spacing: 2.7px;
                            color: #D0D6F9;
                        }
                        .contLanch_vehicle_titleB{
                            margin-top:10px;
                            font-family: Bellefair;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 40px;
                            line-height: 64px;
                            color: #FFFFFF;
    
                        }
                        .contLanch_vehicle_parrafo{
                            margin-top: 10px;
                            font-family: Barlow;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 28px;
    
                            /* or 178% */
    
    
    color: #D0D6F9;
                        }
                    }
                }
        
                .contLangImage{
                    margin-top:10px;
                    width: 100%;
                    height: 350px;
                    border-radius: 0px;
                    overflow: hidden;
                    
                }
            }
            
    
        }
    }
}







@media (min-width:320px) and (max-width:640px){
    .containerBaset{
        /*width: 100%;
        max-width: 1440px;
        height:100vh;
        margin: auto;*/
        //background: #03770d;
        //padding: 10px 0px;
        width: 100%;
        height: 1000px;
        .containert{
            padding-top:5px;
            width: 100%;
            height:1000px;
            background-image: url(../images/technology/background-technology-mobile.jpg);
            background-size: 100% 100%;
            //background: gold;
            overflow: hidden;
            .bloqueNavt{
                position: relative;
                top: 0;
                margin-bottom: 70px;
                .logot{
                    width: 40px;
                    height: 40px;
                    //background: gold;
                    margin-left: 20px;
                }
                .barrat{
                    display: none; 
                    width: 100px;
                }
                .bynResponsive{
                    width: 40px;
                    height: 40px;
                    //background: forestgreen;
                    display: block;
                    margin-right: 10px;
                    .fa-bars{
                        font-size: 40px;
                        cursor: pointer;
                    }
                }

                .navEnlacest{
                    margin-top: 0px;
                    width:200px;
                    height: 990px;
                    padding:20px 0px;
                    background-color: rgba(14, 14, 14, 0.192);
                    position: absolute;
                    top: 0;
                    //right: -20px;
                    right: -100%;
                    backdrop-filter: blur(20px);
                    transition: 0.4s ease-in-out all;
                    .btnCierre{
                        position: absolute;
                        right: 20px;
                        display: block;
                        .fa-xmark{
                            font-size: 40px;
                            cursor: pointer;
                        }
                    }
                    .barra_ult{
                        width: 100%;
                        height: 300px;
                        //list-style:none ;
                        margin-top: 50px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        //background-color:rgba(64, 235, 64, 0.644);
                        
                        .barra_lit{
                            //background: rgb(134, 148, 10);
                            width: 100%;
                            text-align: inherit;
                            color: white;
                            padding-bottom: 30px;
                            margin-bottom: 2px;
                            margin-left: 20px;
                            //box-shadow: 0px 2px 0px white;
                            a{
                                text-decoration: none;
                                color: $color_letras2;
                            }
                        }
                    }
                }
                .navEnlacest_JS{
                    right: -20px;
                }
                
            }   
            
            .titleF{
                //background: red;
                margin:auto;
                width: 90%;
                text-align: center;

                /*color:$color_letras2;
                font-family: Barlow Condensed;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 33.6px;
                letter-spacing: 4.72px; */
                                     
                .titleF_number3{
                    /*color: $color_letras3;
                    line-height: 33.6px;
                    letter-spacing: 4.72px;*/
                }
            }
            
            .baseContains{
                margin-top: 30px;
                width: 100%;
                padding: 10px 0px;
                //background: greenyellow;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .contLanch{
                    width: 100%;
                    padding: 10px 0px;
                    //background: forestgreen;
                    margin-left:0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    .contLanch_numbers{
                        width: 250px;
                        margin: auto;
                        //background: yellow;
                        padding: 10px 0px;
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        .contLanch_numbers_circle{
                           width:55px;
                           height:55px;
                           border: 1px solid white;
                           border-radius: 50%;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           font-size: 30px;
                           transition: 0.3s ease-in-out all;
                        }
                        .contLanch_numbers_circle:hover{
                            cursor: pointer;
                            background: white;
                            color: black;
                        }
        
                    }
                    .contLanch_vehicle{
                        width: 90%;
                        height: auto;
                        padding: 10px 0px;
                        //background: gold;
                        text-align: center;
                        margin: 10px auto;
                        .contLanch_vehicle_titleP{
                            font-family: Barlow Condensed;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 19px;
                            letter-spacing: 2.7px;
                            color: #D0D6F9;
                        }
                        .contLanch_vehicle_titleB{
                            margin-top:10px;
                            font-family: Bellefair;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 40px;
                            line-height: 64px;
                            color: #FFFFFF;
    
                        }
                        .contLanch_vehicle_parrafo{
                            margin-top: 10px;
                            font-family: Barlow;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 28px;
    
                            /* or 178% */
    
    
    color: #D0D6F9;
                        }
                    }
                }
        
                .contLangImage{
                    margin-top:10px;
                    width: 100%;
                    height: 350px;
                    border-radius: 0px;
                    overflow: hidden;
                    
                }
            }
            
    
        }
    }
}
